$primery-color: #4E4E4E;
$bg-color: #F5F5F5;
$hover-color: #E5E5E5;
$text-coments-color: #7C7C7C;
$text-color:#5C5C5C;
$footer-title-text: #FEFEFE;
$footer-text-color: #B9B9B9;
$footer-bg-color: #000000;
$mobile-bp: 320px;
$tablet-bp: 768px;
$desck-bp: 1200px;